body{
    background: linear-gradient(0.50turn, #3f87a6, #ebf8e1, #f69d3c) no-repeat;
    height: 100vh;
    color: rgb(255, 255, 255);
}
h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* Les tailles de polices doives être en REM */
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #00000042;
    color: rgb(128, 88, 188);
    font-family:'Oswald';    
}
.main{
    min-height: 500px;
    width: 50%;
    background: rgba(160, 159, 156, 0.522);
    margin:0 auto ;
    border: 3px solid blue;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 20px 4px #81cfc5;
    padding: 15px;
}
input,
button,
.resulat{
    width: 90%;
    margin: 5px;
    border: 1px solid blue;
    padding: 10px;
    font-size: 1.1rem;
    font-family:'Oswald-Medium';
    border-radius: 5px;
}
