@media only screen and (max-width:600px) {
    .container {
        width: 210px;
    }

    .display #screen {
        width: 90%;
        height: 30px;
        font-size: 20px;
    }

    .btns .row button {
        width: 20px;
        height: 20px;
        font-size: 6px;
    }

}

@media only screen and (min-width:600px) {
    .container {
        width: auto;
    }

    .display #screen {
        width: 97%;
    }
}